.fa-user {
    color: blue;
    font-size: 50px;
}

.fa-github {
    color: black;
    font-size: 50px;
}

.fa-linkedin {
    color: #0077b5;
    font-size: 50px;
}

.fa-instagram {
    color: #e1306c;
    font-size: 50px;
}

.fa-twitter {
    color: #1da1f2;
    font-size: 50px;
}

.container {
    display: flex;;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 10px;
    gap: 30px;
}